@charset "UTF-8";
/* CSS Document */
body{
padding: 0; margin: 0;
background-color:floralwhite；
}
h1{
margin-top: 50px;
margin-left: 350px;
font-size: 60px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
}
h2{
margin-top: 50px;
margin-left: 340px;
font-size: 40px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
}

p{margin-top: 50px;
margin-left:400px;
font-size:15px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
	
	padding: 20; margin: 0;	

}
h4{
	margin-top: 50px;
margin-left: 150px;
font-size: 25px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
	
}
table{
margin-top: 50px;
margin-left: 370px;
font-size: 20px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
}

h3{
margin-top: 50px;
margin-left: 350px;
font-size: 25px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
	margin-bottom: 5px;
}

li{margin-left: 350px;
		font-size:14px;
		font-family: 'Karla', sans-serif;
		font-weight: lighter;
}

iframe{margin-left: 250px;	
	
}

img{margin-left: 390px;	
	
}

	
footer{margin-left: 480px;	
	
	
}	
	


.playfair-display-uniquifier{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}	


 a:link{
	color:darkorange;
	 margin-left: 150px;
		font-size:1em;
		font-family:"Playfair Display", serif;	
}

a:hover{
	font-size:1.2em;
	color:goldenrod;
	font-family:"Playfair Display", serif;
}


.poll-container {
  width: 300px;
  margin: 20px auto;
  font-family: "Playfair Display";
}
.poll-question {
  font-weight: bold;
  margin-bottom: 10px;
}
.poll-option {
  margin-bottom: 5px;
}
button {
  margin-top: 10px;
}
#results {
  margin-top: 20px;
  font-weight: bold;
}


/*nav bar*/
nav ul {
  list-style-type: none;
  margin: 3px;
  padding: 0px;
  overflow: hidden;
	 
}

nav li {
  float: middle;
	 display: inline;

}

nav li a {
  display: block;
  padding: 10px;
  background-color: #ECECEC;
}

form{margin: 400px;
margin-bottom: 30px;
}
